html {
	/* 
		border-box box model allows us to add padding and border to our elements without increasing their size
	*/
	box-sizing: border-box;
}

/*
	We inherit box-sizing: border-box; from our <html> selector
	Apparently this is a bit better than applying box-sizing: border-box; directly to the * selector
*/
*,
*:before,
*:after {
	box-sizing: inherit;
}

/* ====================
	STYLING THE FOOTER
======================*/
.main-footer {
  width: 300px;
  margin: 50 px;
  margin-bottom: 20px;
}

.main-footer ul {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.main-footer li {
	float: left;
	margin: 0 10px;
}

.main-footer li a {
	color: #3486ae;
  display: block;
  text-align: center;
  text-decoration: none;
}

/* ====================
	WRAPPER & CONTAINER STYLES
======================*/
.wrapper {
  display: grid;
  width: 100%;
  height: auto;
  margin-top: 40px
  /* border: 5px solid #BADA55; */
}

.container {
  display: grid;
  grid-template-columns: 260px 1000px;
  grid-gap: 10px;
  margin: 0 auto;
}

.board-game-title {
	color: #56CDCD;
	text-align: center;
}

/* ====================
	CLEARFIX
======================*/
.clearfix {
	clear: both;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* ====================
	row squre box
======================*/
.square {
	/*padding: 5px;*/
  display: inline-block;
  float: left;
  height: 100px;
  width: 100px;
}

/* ====================
	row circle number
======================*/
.numberCircle {
	width: 95px;
  height: 95px;
  margin: 0 auto;
  padding: 0.35em;
  color: #666;
  text-align: center;
  font: 45px "Bookman Old Style" , sans-serif;
  background: #39CCCC;
  border-radius: 50%;
  position: relative;
  border: 0.1em solid #666;
}

#player-unu {
  width: 30px;
  height: 30px;
  background: #EB4436;
  border-radius: 20px;
  position: absolute;
  left: 45px;
  top: 28px;
}
#player-doi {
  width: 30px;
  height: 30px;
  background: #4288EF;
  border-radius: 20px;
  position: absolute;
  left: 11px;
  top: 28px;
}
.active-player{
    transform: scale(1.1);
    border-color: #ffc600;
    box-shadow: 0 0 1rem #ffc600;
}
/* ====================
	p dice #numere
======================*/
#numere {
	/*text-align: center;*/
  margin-left: 90px;
}

/* ====================
	BUTTONS
======================*/
/* removes blue border from the button after it is clicked */
.contact-links { 
  margin-top: 50px; 
  margin: 0 auto;
}
.contact-links > a { margin: 0 140px; }

/* custom style for our three buttons on the page */
.btn-custom-style:focus { outline: 0; }
.btn-custom-style {
	cursor: pointer;
  font-size: 20px;
  width: 125px;
  color: #666;
  background-color: #56cdcd;
  padding: 15px;
  position: relative;
  margin: 60px;
  border-radius: 30px;
  border: 1px solid #56cdcd;
}

.btn-custom-style:active { box-shadow: 1px 2px 1px #666; }