html {
	/* 
		border-box box model allows us to add padding and border to our elements without increasing their size
	*/
	box-sizing: border-box;
}

html, body {

}

/*
	We inherit box-sizing: border-box; from our <html> selector
	Apparently this is a bit better than applying box-sizing: border-box; directly to the * selector
*/
*,
*:before,
*:after {
	box-sizing: inherit;
}

/* ====================
	STYLING THE HEADER
======================*/
.main-header {
  width: 300px;
  margin: 0 auto;
  margin-bottom: 20px;
}

.main-header ul {
	list-style: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.main-header li {
	float: left;
	margin: 10px 15px 0px 20px;
}

.main-header li a {
	color: #3486ae;
  display: block;
  text-align: center;
  text-decoration: none;
}


/* ====================
	WRAPPER & CONTAINER STYLES
======================*/
.wrapper {
	width: 100%;
	height: 800px;
	margin: 0 auto;
	border: 5px solid #BADA55;
}

.container {
	max-width: 1200px;
	margin: 0 auto;
}

.board-game-title {
	color: #56CDCD;
	text-align: center;
}


/* ====================
	CLEARFIX
======================*/
.clearfix {
	clear: both;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}


/* ====================
	row squre box
======================*/

.square {
	display: inline-block;
	float: left;
	border: 1px #DDDDDD solid;
	height: 120px;
	width: 120px;
	color: red;
}

/* ====================
	row circle number
======================*/

.numberCircle {
	width: 95px;
	height: 95px;
	margin: 0 auto;
	padding: 0.25em;
	color: #666;
	text-align: center;
	font: 50px "Bookman Old Style" , sans-serif;
	background: #39CCCC;
	border-radius: 50%;
	border: 0.1em solid #666;
	margin-top: 10px;
}

/* ====================
	p dice #numere
======================*/
#numere {
	text-align: center;
}


/* ====================
	BUTTONS
======================*/
/* removes blue border from the button after it is clicked */
.btn-custom-style:focus { outline: 0; }

/* custom style for our three buttons on the page */
.btn-custom-style {
	color: #fff;
  background-color: #56cdcd;
  padding: 15px;
  position: relative;
  left: 33%;
  margin: 25px 10px;
  margin-top: 25px;
  border-radius: 25px;
  border: 1px solid #56cdcd
}












